.ancho-form{
    width: 40%;
    display: inline-flex;

}

body{
    height: 400;
    background-image: url(https://i.blogs.es/f7a1cd/fondo/1366_2000.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
}

.btn-primary{
    height:50px; 
    width:100px; 
    margin: -20px -50px; 
    position: relative;
    top:50%; 
    left:50%;
}

.btn-primary2{
    height:50px; 
    width:200px; 
    margin: -20px -50px; 
    position: relative;
    top:50%; 
    left:50%;
}